body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.user-login {   
    padding: 50px;   
    background-color: lightblue;  
    margin: 130px;
} 

.hidden{
    visibility: hidden;
}

#error-msg{
    width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block; 
     color: red;
}

button {   
    background-color: #4CAF50;   
    width: 20%;  
     color: white;   
     padding: 15px;   
     margin: 35px 390px;   
     border: none;   
     cursor: pointer;   
      }   
 
input[type=password], input[type=text]   {   
     width: 60%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid green;   
     box-sizing: border-box;   
 } 
 label {   
    width: 20%;   
    margin: 8px 36px 8px 0;  
    padding: 12px 0 12px 20px;   
    display: inline-block;
}  
button:hover {   
     opacity: 0.7;   
 }   


p {
    margin: 0;
    padding: 4px 0;
}